<title>Paste69</title>
<script type="module" src="/public/js/app.js"></script>
<link rel="stylesheet" href="/public/css/app.css">
<link rel="stylesheet" href="/public/css/charts.css">
<link rel="icon" type="image/png" href="/public/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Open Graph -->
<meta property="og:title" content="Paste69">
<meta name="twitter:card" content="summary_large_image" />
<meta property="og:description" content="Paste69 is an fast and open source pastebin, file bin, and link shortener written in Go.">
{{#if isPaste}}
<meta property="og:image" content="{{baseUrl}}/p/{{id}}/image">
<meta name="twitter:image" content="{{baseUrl}}/p/{{id}}/image" />
{{else}}
<meta property="og:image" content="{{baseUrl}}/public/images/0x45-og.png">
<meta name="twitter:image" content="{{baseUrl}}/public/images/0x45-og.png" />
{{/if}}

<meta property="og:url" content="{{baseUrl}}">

{{!-- Custom head content can be added here --}}
