<h1>Paste69</h1>

<p>
    Paste69 is a simple, fast, and secure pastebin written using Go and Fiber.
</p>

<h2>Usage</h2>
<div class="code-block">
    <pre><code>curl -F 'file=@file.txt' {{baseUrl}}</code></pre>
    <button class="action-btn" data-clipboard data-content="curl -F 'file=@file.txt' {{baseUrl}}">
        <span>Copy</span>
    </button>
</div>

<div class="code-block">
    <pre><code>curl -X POST --data-binary @file.txt {{baseUrl}}</code></pre>
    <button class="action-btn" data-clipboard data-content="curl -X POST --data-binary @file.txt {{baseUrl}}">
        <span>Copy</span>
    </button>
</div>

<div class="code-block">
    <pre><code>curl -d '{"url":"https://example.com"}' {{baseUrl}}/url</code></pre>
    <button class="action-btn" data-clipboard data-content="curl -d '{" url":"https://example.com"}' {{baseUrl}}/url">
        <span>Copy</span>
    </button>
</div>

<p>
    For more examples and API docs, visit:
    <a href="{{baseUrl}}/docs">{{baseUrl}}/docs</a>
</p>

<h2>Stats</h2>
<h3>Total Pastes:</h3>
<div class="chart">
    <span data-chart data-chart-type="bar" data-chart-history='{{stats.pastesHistory}}' 
          data-chart-options='{"color": "blue", "height": 5, "barWidth": 12}'>{{stats.pastes}}</span>
</div>
<h3>Total URLs:</h3>
<div class="chart">
    <span data-chart data-chart-type="bar" data-chart-history='{{stats.urlsHistory}}'
          data-chart-options='{"color": "green", "height": 5, "barWidth": 12}'>{{stats.urls}}</span>
</div>
<h3>Files Stored:</h3>
<div class="chart">
    <span data-chart data-chart-type="bar" data-chart-history='{{stats.storageHistory}}'
          data-chart-options='{"color": "yellow", "height": 5, "barWidth": 12}'>{{stats.storage}}</span>
</div>

<h3>Storage by File Type:</h3>
<div class="chart">
    <span data-chart data-chart-type="pie" 
          data-chart-data='{
              "Text": 450,
              "Images": 320,
              "Archives": 180,
              "Documents": 150,
              "Code": 100,
              "Other": 50
          }'
          data-chart-options='{
              "color": "blue",
              "width": 30
          }'>
    </span>
</div>

<h2>File Retention</h2>

<ul>
    <li>Maximums:</li>
    <ul>
        <li>No API Key: {{retention.noKey}}</li>
        <li>With API Key: {{retention.withKey}}</li>
        <li>Maximum Size: {{retention.maxSize}}</li>
    </ul>
</ul>

<div class="chart">
    <span data-chart data-chart-type="dot" data-chart-options='{
              "series": [
                  {"name": "No API Key", "palette": "blue", "data": {{{retention.noKeyHistory}}} },
                  {"name": "With API Key", "palette": "green", "data": {{{retention.withKeyHistory}}} }
              ],
              "height": 15,
              "barWidth": 30,
              "yAxisPadding": 8,
              "connectLines": true,
              "showScale": true,
              "showAxisLabels": true,
              "xAxis": {
                  "label": "File Size",
                  "unit": "MiB",
                  "maxSize": "{{retention.maxSize}}",
                  "points": 3
              },
              "yAxis": {
                  "label": "Days",
                  "points": 3,
                  "range": {
                      "min": 30,
                      "max": 730
                  }
              }
          }'>
    </span>
</div>