<h1>Paste69</h1>

<p>
    Paste69 is a simple, fast, and secure pastebin written using Go and Fiber.
</p>

<h2>Usage</h2>
<div class="code-block">
    <pre><code>curl -F 'file=@file.txt' {{baseUrl}}</code></pre>
    <button class="action-btn" data-clipboard data-content="curl -F 'file=@file.txt' {{baseUrl}}">
        <span>Copy</span>
    </button>
</div>

<div class="code-block">
    <pre><code>curl -X POST --data-binary @file.txt {{baseUrl}}</code></pre>
    <button class="action-btn" data-clipboard data-content="curl -X POST --data-binary @file.txt {{baseUrl}}">
        <span>Copy</span>
    </button>
</div>

<div class="code-block">
    <pre><code>curl -d '{"url":"https://example.com"}' {{baseUrl}}/url</code></pre>
    <button class="action-btn" data-clipboard data-content="curl -d '{"url":"https://example.com"}' {{baseUrl}}/url">
        <span>Copy</span>
    </button>
</div>

<p>
    For more examples and API docs, visit:
    <a href="{{baseUrl}}/docs">{{baseUrl}}/docs</a>
</p>

<h2>Stats</h2>
<ul>
    <li>Total Pastes: 
        <div class="chart" data-chart-color="blue">
            <span data-chart 
                  data-chart-type="bar"
                  data-chart-history='{{stats.pastesHistory}}'>{{stats.pastes}}</span>
        </div>
    </li>
    <li>Total URLs: 
        <div class="chart" data-chart-color="green">
            <span data-chart 
                  data-chart-type="bar"
                  data-chart-history='{{stats.urlsHistory}}'>{{stats.urls}}</span>
        </div>
    </li>
    <li>Files Stored: 
        <div class="chart" data-chart-color="yellow">
            <span data-chart 
                  data-chart-type="bar"
                  data-chart-history='{{stats.storageHistory}}'>{{stats.storage}}</span>
        </div>
    </li>
</ul>

<h2>File Retention</h2>

<ul>
    <li>Maximums:</li>
    <ul>
        <li>No API Key: {{retention.noKey}}</li>
        <li>With API Key: {{retention.withKey}}</li>
        <li>Maximum Size: {{retention.maxSize}}</li>
    </ul>
</ul>

<div class="chart" data-chart-color="blue">
    <span data-chart 
          data-chart-type="dot"
          data-chart-options='{
              "series": [
                  {"name": "No API Key", "color": "bright", "data": {{{retention.noKeyHistory}}} },
                  {"name": "With API Key", "color": "green", "data": {{{retention.withKeyHistory}}} }
              ],
              "height": 15,
              "barWidth": 30,
              "yAxisPadding": 8,
              "connectLines": true,
              "showScale": true,
              "showAxisLabels": true,
              "xAxis": {
                  "label": "File Size",
                  "unit": "MiB",
                  "maxSize": "{{retention.maxSize}}",
                  "points": 3
              },
              "yAxis": {
                  "label": "Days",
                  "points": 3,
                  "range": {
                      "min": 30,
                      "max": 730
                  }
              }
          }'>
    </span>
</div>