<h1>Paste69</h1>

<p>
    Paste69 is a simple, fast, and secure pastebin written using Go and Fiber.
</p>

<h2>Usage</h2>
<div class="code-block">
    <pre><code>curl -F 'file=@file.txt' {{baseUrl}}</code></pre>
    <button class="action-btn" data-clipboard data-content="curl -F 'file=@file.txt' {{baseUrl}}">
        <span>Copy</span>
    </button>
</div>

<div class="code-block">
    <pre><code>curl -X POST --data-binary @file.txt {{baseUrl}}</code></pre>
    <button class="action-btn" data-clipboard data-content="curl -X POST --data-binary @file.txt {{baseUrl}}">
        <span>Copy</span>
    </button>
</div>

<div class="code-block">
    <pre><code>curl -d '{"url":"https://example.com"}' {{baseUrl}}/url</code></pre>
    <button class="action-btn" data-clipboard data-content="curl -d '{"url":"https://example.com"}' {{baseUrl}}/url">
        <span>Copy</span>
    </button>
</div>

<p>
    For more examples and API docs, visit:
    <a href="{{baseUrl}}/docs">{{baseUrl}}/docs</a>
</p>

<h2>File Retention</h2>
<ul>
    <li>No API Key: <code>{{retention.noKey}}</code></li>
    <li>With API Key: <code>{{retention.withKey}}</code></li>
    <li>Maximum Size: <code>{{retention.maxSize}}</code></li>
</ul>


<h2>Stats</h2>
<ul>
    <li>Total Pastes: 
        <span data-chart 
              data-chart-history='{{stats.pastesHistory}}' 
              data-chart-color="blue">{{stats.pastes}}</span>
    </li>
    <li>Total URLs: 
        <span data-chart 
              data-chart-history='{{stats.urlsHistory}}' 
              data-chart-color="green">{{stats.urls}}</span>
    </li>
    <li>Files Stored: 
        <span data-chart 
              data-chart-history='{{stats.storageHistory}}' 
              data-chart-color="yellow">{{stats.storage}}</span>
    </li>
</ul>