<section>
<h1>Paste69</h1>

<p>
    Paste69 is an fast and open source pastebin, file bin, and link shortener written in Go.
</p>

<p>
    <a href="https://github.com/watzon/0x45">Star the Project on GitHub ⭐</a>
</p>
</section>

<section>
<h2>Usage</h2>
<div class="code-block">
    <pre><code>curl -F 'file=@file.txt' {{baseUrl}}</code></pre>
    <button class="action-btn" data-clipboard data-content="curl -F 'file=@file.txt' {{baseUrl}}">
        <span>Copy</span>
    </button>
</div>

<div class="code-block">
    <pre><code>curl -X POST --data-binary @file.txt {{baseUrl}}</code></pre>
    <button class="action-btn" data-clipboard data-content="curl -X POST --data-binary @file.txt {{baseUrl}}">
        <span>Copy</span>
    </button>
</div>

<div class="code-block">
    <pre><code>curl -d '{"url":"https://example.com"}' {{baseUrl}}/url</code></pre>
    <button class="action-btn" data-clipboard data-content="curl -d '{" url":"https://example.com"}' {{baseUrl}}/url">
        <span>Copy</span>
    </button>
</div>

<p style="margin-top: 20px;">
    For more examples and API docs, visit:
    <a href="{{baseUrl}}/docs">{{baseUrl}}/docs</a>
</p>

<p style="margin-bottom: 20px;">
    View detailed statistics at:
    <a href="{{baseUrl}}/stats">{{baseUrl}}/stats</a>
</p>
</section>

<section>
<h2>File Retention</h2>

<p>
    Retention is the number of days a file will be available for download.
</p>

<ul>
    <li>Limits:</li>
    <ul>
        <li>No API Key: {{retention.noKey}}</li>
        <li>With API Key: {{retention.withKey}}</li>
        <li>Maximum Size: {{retention.maxSize}}</li>
    </ul>
</ul>

<div class="chart">
    <span data-chart data-chart-type="dot" data-chart-options='{
              "series": [
                  {"name": "No API Key", "palette": "blue", "data": {{{retention.noKeyHistory}}} },
                  {"name": "With API Key", "palette": "green", "data": {{{retention.withKeyHistory}}} }
              ],
              "height": 15,
              "barWidth": 30,
              "yAxisPadding": 12,
              "xAxisPadding": 1,
              "connectLines": true,
              "showScale": true,
              "showAxisLabels": true,
              "xAxis": {
                  "label": "File Size",
                  "unit": "MiB",
                  "maxSize": "{{retention.maxSize}}",
                  "points": 3
              },
              "yAxis": {
                  "label": "Days",
                  "points": 3,
                  "range": {
                      "min": {{retention.minAge}},
                      "max": {{retention.maxAge}}
                  }
              }
          }'>
    </span>
</div>
</section>