<!DOCTYPE html>
<html>
<head>
    {{> partials/head}}
</head>
<body>
    <div class="container">
        <div class="nav-bar">
            <a href="/p/{{id}}" class="nav-link">cd ..</a>
        </div>

        <div class="paste-header">
            <div class="paste-info">
                <h2>{{filename}}</h2>
                <div class="metadata">
                    <span title="{{created}}">Created: {{created}}</span>
                    {{#if expires}}
                    <span title="{{expires}}">Expires: {{expires}}</span>
                    {{/if}}
                    <span>Size: {{metadata.size}}</span>
                    <span>Type: {{metadata.mimeType}}</span>
                </div>
            </div>
        </div>

        <div class="markdown-preview">
            {{{content}}}
        </div>
    </div>
</body>
</html> 